//Colours should always only appear in this colours.scss
$black: #000;
$black-lighter: #222;
$white: #fff;
$purple: #303d49;
$purple-dark: #193a4a;
$purple-darker: #102c3a;
$red: #ff3d42;
$red-light: #ee290e;
$red-lighter: #ef4d41;
$gray: #c0c0c0;
$gray-light: #d3ccd3;