input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
  width: 100%;
  padding: 7px 10px 8px;
  border-radius: 0;
  -webkit-appearance: none;
  &:focus {
    //outline-color: ;
    //border-color: ;
  }
  &::placeholder {

  }
}
textarea {
  resize: vertical;
  height: 150px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
  display: inline-block;
  margin: 12px 0;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
  border: 1px solid $black;
  color: $black;
  transition: all .3s ease-out;
  -webkit-appearance: none;
  appearance: none;
  &:hover,
  &:active {
    cursor: pointer;
  }
}
.btn--fullWidth {
  width: 100%;
}
