.pageHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 3.5%;
  @include media-breakpoint-up(md) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &-logo {
    a {
      display: block;
      img {
        max-height: 30px;
        @include media-breakpoint-up(md) {
          max-height: none;
        }
      }
    }
  }
}
