.workSteps {
  &-item {
    margin-bottom: 15px;
    text-align: center;
    &-icon {
      position: relative;
      min-height: 50px;
      margin: 0 0 15px;
      display: flex;
      align-items: center;
      //padding: 0 25px;
      background-color: $white;
      @include media-breakpoint-up(md) {
        margin-bottom: 25px;
      }
      &::before,
      &::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $gray-light;
      }
      &::before {
        transform: translateX(-25px);
      }
      &::after {
        transform: translateX(25px);
      }
    }
    &-title {
      margin-bottom: 15px;
      font-weight: $fontWeight-bold;
      font-size: $fontSize-large;
      line-height: $lineHeight-tighter;
      text-transform: uppercase;
      color: $red-lighter;
      @include media-breakpoint-up(sm) {
        font-size: $fontSize-larger;
        margin-bottom: 25px;
      }
      @include media-breakpoint-up(md) {
        font-size: $fontSize-largest;
        margin-bottom: 30px;
      }
      @include media-breakpoint-up(lg) {
        min-height: 60px;
      }
    }
    &-text {
      font-style: italic;
      font-size: $fontSize-small;
      line-height: $lineHeight-tighter;
      color: $gray;
      @include media-breakpoint-up(sm) {
        font-size: $fontSize-base;
      }
      @include media-breakpoint-up(md) {
        font-size: $fontSize-large;
      }
    }
    &--first {
      .workSteps-item-icon {
        &::before {
          @include media-breakpoint-up(lg) {
            opacity: 0;
          }
        }
      }
    }
    &--last {
      .workSteps-item-icon {
        &::after {
          @include media-breakpoint-up(lg) {
            opacity: 0;
          }
        }
      }
    }
  }
}
